body{
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(images/fire.jpg);
    background-repeat: no-repeat;
    background-position: center center ;
    background-size: cover;
    background-attachment: fixed;
}

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50rem;
    flex-wrap: wrap;
     
}
.scenes{
    border: 1px solid #222;
    border-radius: 50px;
    padding: 1rem;
    width: 30%;
    height: 55%;
    background-color: #fff;
    box-shadow: 2px 2px 4px #aaa;
    text-align: center;
    width: 30%;
    height: 55%;
    /* display: none; */
    
}